/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');

/* ----- Variables ----- */
* {
    /* ### Colores primarios */
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
    /*  ### Tipografia */
    --font-size: 20px;
    --Family: "Libre Franklin", sans-serif;
    --Weights: 500, 700;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {

    font-family: var(--Family);
    line-height: 1.5;
    font-size: var(--Font-size);
    font-weight: 400;
    background-color: white;
    ;
}

#ping-single-column {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, min(100%, 36rem));
    min-height: 100vh;
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 60px;
    padding: 0 20px;
}


.card__header,
.card__body,
.card__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__logo {
    padding: 78px 0 35px;
    width: 60px;
}

.card__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
}

.card_title--gray {
    font-weight: 300;
    color: var(--Gray);
}

.card__subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--Very-Dark-Blue);
    padding: 10px 0 30px;
}

.card__form {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding-bottom: 10px;
}

.card__input {
    all: unset;
    border: 1px solid hsl(0, 0%, 79%);
    border-radius: 35px;
    padding: 15px 35px;
    color: var(--Very-Dark-Blue);
}

.card__input::placeholder {
    color: var(--Gray);
    /* Firefox */
}

.hidden {
    display: none;
}

.card__input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--Gray);
}

.input__error-message {
    align-self: start;
    color: var(--Light-Red);
}

.red-border {
    border: 1px solid var(--Light-Red);
}

.card__button {
    font-size: 15px;
    border: 1px solid var(--Blue);
    font-weight: 600;
    border-radius: 35px;
    padding: 15px 0;
    color: white;
    background-color: var(--Blue);
    box-shadow: 3px 6px 2px 0px rgba(47, 137, 245, 0.11);
    -webkit-box-shadow: 3px 6px 2px 0px rgba(47, 137, 245, 0.11);
    -moz-box-shadow: 3px 6px 2px 0px rgba(47, 137, 245, 0.11);
}

.card__button:hover {
    border: 1px solid hsl(223, 87%, 75%);
    background-color: hsl(223, 87%, 75%);
}

.card__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.social {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.social__btn {
    background-color: white;
    border: 1px solid hsl(0, 0%, 59%, 0.1);
    color: var(--Blue);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}

.social__btn:hover {
    scale: 1.2;
    border: 1px solid var(--Blue);
    background-color: var(--Blue);
    color: white;
}

.text__footer {
    font-size: 12px;
    color: var(--Gray);
}

@media (min-width:375px) {}




@media (min-width:425px) {}

/* *********---- TABLET ----********* */

@media (min-width:576px) {}


@media (min-width:768px) {
    .card__form {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        padding-bottom: 10px;
    }

    .card__logo {
        width: 80px;
    }

    .card__title {
        font-size: 2.7rem;
    }

    .card__subtitle {
        font-size: 18px;
    }
}

/* *********---- Desktop ----********* */
@media (min-width:1200px) {}

@media (min-width:1440px) {}


/* background */
@media (max-width:425px) {}

@media (max-width:768px) {}

@media (max-width:1400px) {}