/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- */


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700&display=swap');


/* ----- Variables ----- */
* {
	/* colores primarios*/
	--dark-cyan: hsl(158, 36%, 37%);
	--cream-color: hsl(30, 38%, 92%);
	/* colores neutrales*/
	--very-dar-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white-color: hsl(0, 0%, 100%);
	/* fuentes */
	--fraunces-family: 'Fraunces', serif;
	--montserrat-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
	font-family: var(--montserrat-family);
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	background-color: var(--cream-color);
}

.btn {
	position: relative;
	justify-self: center;
	width: 100%;
	border: none;
	padding: 18px;
	border-radius: 10px;
	pointer-events: auto;
	cursor: pointer;


}

.img-cart {
	position: absolute;
	top: 33%;
	left: 25%;
}

.btn:hover {
	scale: 1.02;
}

.btn:active {
	scale: .99;
}

.card {
	width: 700;
	display: grid;
	grid-template-columns: 300px;
	grid-template-areas: 'header' 'body' 'footer';
	border-radius: 10px;
	background-color: var(--white-color);


}

.card-header {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	grid-area: header;
	background-image: url('../images/image-product-mobile.jpg');
	height: 250px;
	background-repeat: no-repeat;
	background-size: 100%;

}

.card-body {
	padding: 25px 40px;
	grid-area: body;
	display: flex;
	flex-direction: column;
	gap: 25px;


}

.type {
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--dark-grayish-blue);
}

.title {
	font-family: 'Fraunces', 'sans-serif';
	font-size: 2rem;
	font-weight: 700;
}

.description {
	font-weight: 600;
	line-height: 1.8;
	padding-right: 10px;
	color: var(--dark-grayish-blue);
}

.prices {
	font-family: 'Fraunces', 'sans-serif';
	padding-top: 5px;
	display: flex;
	justify-content: baseline;
	gap: 20px;


}

.price {
	font-family: 'Fraunces', 'sans-serif';
	font-size: 2rem;
	color: var(--dark-cyan);
	font-weight: 700;
}

.old-price {
	align-self: center;
	text-decoration: line-through;
	color: var(--dark-grayish-blue);
	font-weight: 500;
}

.add-card {
	border: none;
	background-color: var(--dark-cyan);
	font-weight: 500;
	padding-left: 25px;
	color: var(--white-color);


}

.add-card:hover {
	background-color: #1a4030;
}

.uppercase-text {
	text-transform: uppercase;
}

@media (min-width:375px) {
	.card {
		grid-template-columns: 350px;
	}

	.title {
		font-size: 1.8rem;
	}

	d-header {
		height: 250px;
	}
}


@media (min-width:425px) {}

/* phone */
@media (min-width:576px) {}

@media (min-width:768px) {
	.title {
		font-size: 2.4rem;
	}

	.card {
		width: 700;
		grid-template-columns: 376px 376px;
		border-radius: 10px;
	}

	.card-header {
		height: 560px;
		width: 376px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 0px;
		background-image: url('../images/image-product-desktop.jpg');
		background-size: cover;
		object-fit: contain;
		object-position: center;
	}

	.img {
		height: 560px;
		width: 376px;
	}

	.card-body {
		padding: 45px;
		grid-area: body;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}
}

@media (min-width:992px) {}

/* *********---- Desktop ----********* */
@media (min-width:1200px) {}

@media (min-width:1400px) {}