/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* ----- Variables ----- */
* {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* ### Colores neutrales */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* ### Tipografia */
    --Font-size: 15px;
    --Family: "Poppins";
    --Weights: 200, 400, 600;
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
    font-family: var(--Family);
    background-color: var(--Very-Light-Gray);
    font-size: var(--Font-size);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;

}


#four-card-feacture {
    max-width: 1440px;
    margin: 50px auto;

}



.header {
    margin: 0 auto;
    color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header__title {
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
    font-weight: 200;
    margin: 5px 0;
}

.header__subtitle {
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: 600;
}

.header__description {
    width: 330px;
    margin: 15px auto;
    color: var(--Grayish-Blue);
    font-weight: 400;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: center;
}

.cards {
    align-self: center;
    width: 330px;
}

.card {
    width: 330px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 23px -20px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 10px 10px 23px -20px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 10px 10px 23px -20px rgba(0, 0, 0, 0.47);

}



.card__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.card__title {
    color: var(--Very-Dark-Blue);
}

.card__description {
    color: var(--Grayish-Blue);
}

.card__img {
    align-self: end;
}

.card--center {
    align-self: center;
    justify-self: center;
}

.card--margin-top {
    margin-top: 20px;
}

.card--margin-bottom {
    margin-bottom: 20px;
}

.card--border-cyan {
    border-top: 4px solid var(--Cyan);
}

.card--border-red {
    border-top: 4px solid var(--Red);
}

.card--border-orange {
    border-top: 4px solid var(--Orange);
}

.card--border-blue {
    border-top: 4px solid var(--Blue);
}

@media (min-width:375px) {}


@media (min-width:425px) {}

/* *********---- TABLET ----********* */

@media (min-width:576px) {}


@media (min-width:768px) {
    .container {
        max-width: 760px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }



    .header__description {
        width: 280px;
    }

    .cards {
        width: 250px;

    }

    .card {
        width: 250px;
        height: 210px;
    }

    .header__description {
        width: 570px;
    }


}

@media (min-width:992px) {
    .container {
        max-width: 1000px;
    }

    .header {
        margin-bottom: 50px;
    }

    .header__title {
        font-size: 2.2rem;
    }

    .header__subtitle {
        font-size: 2.2rem;
    }

    .header__description {
        font-size: 17px;
    }

    .cards {
        width: 390px;


    }

    .card {
        padding: 20px;
        width: 350px;
        height: 200px;
    }

    .card__description {
        font-size: 15px;
    }
}


/* *********---- Desktop ----********* */
@media (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1440px;
    }
}


/* background */
@media (max-width:425px) {}

@media (max-width:768px) {}

@media (max-width:1400px) {}