/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* ----- Variables ----- */
* {
    /* Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%) */
    /* ### Colores primarios */
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --white: hsl(0, 0%, 100%);
    /*  ### Tipografia */
    --Font-size: 14px;
    --Family: "Raleway", sans-serif;

}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
    font-family: var(--Family);
    line-height: 1.2;
    font-size: var(--Font-size);
    font-weight: 400;
    color: var(--Pale-Blue);
    background-color: var(--Very-Dark-Blue);
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}

main {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, min(100%, 65.5rem));
    min-height: 100vh;
}

.card {
    border-radius: 10px;
    background-color: var(--Dark-Blue);

}

#fylo-data-storage {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.card__logo {
    text-align: left;
}

.card__left {
    display: flex;
    padding: 50px;
    margin: 0 auto;
    flex-direction: column;
    width: 230px;
    border-top-right-radius: 100px;
}

.card__right {
    margin: 0 auto;
    width: 230px;
    align-self: flex-end;
    height: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
}



.card__logo {
    margin-bottom: 35px;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn {
    all: unset;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Blue);
    text-align: center;
}

.btn:hover {
    scale: 1.2;
    background-color: hsl(228, 56%, 54%, 0.7);
}

.card__title {
    text-align: center;
}

.card__title--white {
    font-weight: 700;
}

.card__tooltip {
    display: flex;
    align-items: center;
    background-color: white;
    width: 13.5rem;
    height: 82px;
    border-radius: 10px;
    bottom: -35px;
    left: 20%;
    margin: 0 auto;
    position: absolute;
    text-transform: uppercase;
}



.card__tooltip-text {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    color: var(--Very-Dark-Blue)
}

.card__tooltip-text span {
    font-size: 1rem;
    padding-left: 20px;
    color: var(--Grayish-Blue);

}

.storage-info {
    width: 100%;
}

.card__description {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}


@keyframes progressLineTransmission {
    from {
        width: 4%;
    }

    to {
        width: 81.5%;
    }
}


/* section2 - start */



.progressbar {
    background-color: rgb(20 30 72);
    ;

    border: 1px solid rgb(20 30 72);
    height: 15px;
    padding: 2px;
    border-radius: 50px;
    /* flex */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progressbar__rect {
    background-image: var(--gradient);
    height: 100%;
    border-radius: inherit;
    animation: progressLineTransmission 2.5s 0.3s ease-in-out both;


    /* flex */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.progressbar__circle {
    background-color: var(--white);
    height: calc(14px - 4px);
    width: calc(14px - 4px);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


@media (min-width:375px) {
    .card__right {
        text-align: center;
        margin: 0 auto;
        width: 250px;
    }

    .card__left {
        text-align: center;
        margin: 0 auto;
        width: 250px;
    }
}




@media (min-width:425px) {
    .card__right {
        margin: 0 auto;
        width: 280px;
    }


}

/* *********---- TABLET ----********* */

@media (min-width:576px) {
    .card__right {
        margin: 0 auto;
        width: 350px;

        height: 70px;
    }

    .card__right {
        margin: 0 auto;
        width: 350px;
    }

    .card__tooltip {
        bottom: -45px;
        left: 25%;
    }
}


@media (min-width:768px) {
    .card__right {
        margin: 0 auto;
        height: auto;
        width: 500px;
    }

    .card__tooltip {
        left: 30%;
    }
}

@media (min-width:992px) {
    .card__title {
        text-align: left;
    }

    #fylo-data-storage {
        text-align: center;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    .card__tooltip {
        top: -55px;
        right: -100px;
    }

    .card__tooltip::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -25px;
        border-width: 25px;
        border-style: solid;
        border-color: transparent var(--white) transparent transparent;
    }



    @keyframes progressLineTransmission {
        from {
            width: 6%;
        }

        to {
            width: 81.5%;
        }
    }
}

/* *********---- Desktop ----********* */
@media (min-width:1200px) {
    #fylo-data-storage {
        display: flex;
        flex-direction: row;
    }

    body {
        background-image: url(../images/bg-desktop.png);
        background-size: contain;
    }

}

@media (min-width:1440px) {}


/* background */
@media (max-width:425px) {}

@media (max-width:768px) {}

@media (max-width:1400px) {}