/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap');

/* ----- Variables ----- */
* {
    /* ### Colores primarios */
    --Orange: hsl(25, 97%, 53%);

    /*  ### Colores neutrales */
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);

    /*  ### Tipografia */
    --Font-size: 15px;
    --Family: "Overpass";
    --Weights: 400, 700;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {

    font-family: var(--Family);
    line-height: 1.5;
    font-size: var(--Font-size);
    font-weight: 400;
    background-color: var(--Very-Dark-Blue);
    color: var(--White)
}

#interactive-rating {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, min(100%, 25rem));
    min-height: 100vh;
    place-items: start;
    padding: 0 1rem;
}

.card {
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(hsl(213, 19%, 14%), hsl(216, 12%, 12%));
}



.card__header--center {
    place-content: center;
    display: flex;
}

.card__logo {
    width: fit-content;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: var(--Dark-Blue);
}


.card__body {
    padding-top: 20px;
}

.card--body-center {
    text-align: center;
}

.card__title {
    font-weight: 700;
}

.card__description {
    padding: 10px 0;
    color: var(--Light-Grey);
}

.score {
    padding: 20px 0 30px 0;
    display: flex;
    justify-content: space-around;
}

.score input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.score__value {
    padding: 12px 21px;
    border-radius: 50%;
    background-color: var(--Dark-Blue);
    text-align: center;
}

.score__value:hover {
    background-color: var(--Light-Grey);
}


.btn {
    justify-self: center;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 25px;
    pointer-events: auto;
    cursor: pointer;
    color: var(--White);
    background-color: var(--Orange);
    font-weight: 700;

}

.btn:hover {
    scale: 1.02;
    color: var(--Orange);
    background-color: var(--White);
}

.btn:active {
    scale: .99;
}

.scopre__selected {
    width: 200px;
    margin: 10px auto;
    color: var(--Orange);
    border-radius: 15px;
    background-color: var(--Dark-Blue);
    padding: 8px 0 5px 0;
}

.card__title--thx {
    margin-top: 38px;
}

.bg--Orange {
    background-color: var(--Orange);
}

.bg--Dark {
    background-color: var(--Dark-Blue);
}

.hidden {
    display: none;
}


@media (min-width:375px) {}


@media (min-width:425px) {}

/* *********---- TABLET ----********* */

@media (min-width:576px) {}


@media (min-width:768px) {

    .card {
        padding: 30px;

    }
}

@media (min-width:992px) {}

/* *********---- Desktop ----********* */
@media (min-width:1200px) {}

@media (min-width:1440px) {}


/* background */
@media (max-width:425px) {}

@media (max-width:768px) {}

@media (max-width:1400px) {}