/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');


/* ----- Variables ----- */
* {
    /* ### Colores primarios */
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    /* ### Colores neutrales */
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);

    /* ### Tipografia */
    --Font-size: 16px;
    --Family: "Karla";
    --Weights-400: 400;
    --Weights-700: 700;
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
    font-family: var(--Family);
    background-color: var(--Very-Light-Gray);
    font-size: var(--Font-size);
    background-color: var(--Light-Gray);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;

}


#single-price-card {
    max-width: 1440px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 250px;
    grid-template-areas:
        "header"
        "body"
        "footer";

}

.container {
    padding: 40px;
}

.card {}



.card__header-title {
    font-size: 1.6rem;
    color: var(--Cyan);
    line-height: 1.5;
    font-weight: 700;
}

.card__header-subtitle {
    line-height: 1.5;
    color: var(--Bright-Yellow);
    margin: 25px 0 15px 0;
}

.card__header-description {
    font-size: 16px;
    color: var(--Grayish-Blue);
    font-weight: 500;
    line-height: 1.8;
}

.card__title {
    font-size: 1.2rem;
    color: var(--Light-Gray);
    line-height: 1.5;
    font-weight: 700;
}

.card__description {

    padding-bottom: 30px;
    color: var(--Light-Gray);
}

.price--month {
    font-size: 16px;

    color: var(--Light-Gray);
    opacity: 0.7;
    font-weight: 400;
}

.card__price {
    font-weight: 700;

}

.card__price {
    color: var(--Light-Gray);
}

.w--600 {

    width: 280px;
}

.w--200 {

    width: 195px;
}

.btn {
    justify-self: center;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
    pointer-events: auto;
    cursor: pointer;
    font-weight: var(--Weights-700);

}

.btn:hover {
    scale: 1.02;
}

.btn:active {
    scale: .99;
}

.card__btn {
    width: 100%;
    padding: 15px;
    color: var(--Light-Gray);
    background-color: var(--Bright-Yellow);
    box-shadow: 0 10px 23px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 23px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 23px 0 rgba(0, 0, 0, 0.2);
}

.header {
    background-color: white;
    grid-area: header;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.body {
    background-color: var(--Cyan);
    grid-area: body;
}


.footer {
    background-color: hsl(178.46deg 47.76% 51.96%);
    grid-area: footer;
    border-bottom-right-radius: 10px;
}

ul {
    padding-top: 20px;
}

li {
    color: var(--Light-Gray);
    opacity: 0.8;
    font-size: 15px;
    padding: 2px;
    list-style-type: none;
}

@media (min-width:375px) {
    #single-price-card {
        grid-template-columns: 350px;

    }
}


@media (min-width:425px) {}

/* *********---- TABLET ----********* */

@media (min-width:576px) {}


@media (min-width:768px) {
    #single-price-card {
        grid-template-columns: 330px 330px;
        grid-template-areas:
            "header header"
            "body footer";

    }

    .w--600 {

        width: 550px;
    }

    .body {
        border-bottom-left-radius: 10px;
    }

    .footer {

        border-bottom-right-radius: 10px;
    }
}

@media (min-width:992px) {}


/* *********---- Desktop ----********* */
@media (min-width:1200px) {}

@media (min-width:1400px) {}