/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700;900&display=swap');

/* ----- Fuente ----- */

/* ### Colores primarios */
* {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* ### Colores neutrales */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    /* ### Tipografia */
    --Font-size: 18px;
    --Family: "League Spartan";
    --Weights--500: Medium;
    --Weights--700: bold;
    /* ----- Variables ----- */
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
    font-family: var(--Family);
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left 0 top 0, right 0 bottom 0;
    background-color: var(--White);
    font-size: var(--Font-size);
    line-height: 1.5;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;

}


#social-proof {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;

}

.proof__header {
    display: flex;
    flex-direction: column;
}

.proof__header>* {
    width: 100%;
}


.proof__header-info {
    text-align: center;
}



.proof__header-title {
    font-size: 4rem;
    font-weight: var(--Weights--700);
    line-height: 0.9;
    color: var(--Very-Dark-Magenta);
}

.proof__header-subTitle {
    padding-top: 20px;
    font-size: 18px;
    font-weight: var(--Weights--500);
    color: var(--Dark-Grayish-Magenta);
}




.ratings__container {

    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.ratings__stars {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);

}

.stars {
    background-image: url(../images/icon-star.svg);
    width: 85px;
    height: 15px;
    margin-right: 20px;

}




.proof__content {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}

.card {
    border-radius: 10px;
    max-width: 360px;
    max-height: 270px;
    background-color: var(--Very-Dark-Magenta);
    color: var(--White);
    padding: 50px 40px;
    margin: 0 auto;
}

.card:hover {
    background-color: var(--Dark-Grayish-Magenta);
    scale: 1.05;
}

.card--top {
    align-self: start;
}

.card--center {
    align-self: center;
}

.card-bottom {
    align-self: end;
}

.card__header {
    display: flex;
    gap: 30px
}

.img {
    width: 50px;
    border-radius: 50%;
}

.card__title {
    font-weight: var(--Weights--700);
}

.card__subTitle {
    font-weight: var(--Weights--500);
    color: var(--Soft-Pink);
}


.card__description {
    padding-top: 30px;
    color: var(--Light-Grayish-Magenta);
}


@media (min-width:375px) {}


@media (min-width:425px) {}

/* *********---- TABLET ----********* */

@media (min-width:576px) {

    .ratings__stars {
        padding: 15px 60px 15px 40px;
        flex-direction: row;
        justify-content: start;
        max-width: 450px;
    }

    .ratings {
        display: flex;
        width: max-content;
    }

    .ratings__container {
        align-items: flex-end;
        width: 550px;
    }

    .ratings__stars--reviews {
        align-self: flex-start;
    }

    .ratings__stars--reports {
        align-self: center;
    }

    .ratings__stars--besttech {
        align-self: flex-end;
    }

    .proof__content {
        height: 330px;
        justify-content: start;
    }
}

@media (min-width:768px) {



    .ratings__stars {
        padding: 15px 30px;
    }

}

@media (min-width:992px) {
    .proof__header {
        flex-direction: row;
    }

    .proof__header-info {
        text-align: left;
    }

    .proof__header-title {

        min-width: 320px;
        max-width: 450px;
    }

    .proof__header-subTitle {
        min-width: 320px;
        max-width: 450px;
    }

    .proof__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        width: 100%;
    }

    .ratings__stars {
        padding: 15px 30px;
    }

    .ratings__stars {
        padding: 15px 60px 15px 40px;
    }
}

/* *********---- Desktop ----********* */
@media (min-width:1200px) {}

@media (min-width:1400px) {
    .ratings {
        display: flex;
        padding-left: 70px;
        justify-content: start;
    }
}



/* background */
@media (max-width:425px) {
    body {
        background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mbg-pattern-top-mobile.svg);
    }
}

@media (max-width:768px) {
    body {
        background-image: url(../images/bg-pattern-top-tablet.svg), url(../images/bg-pattern-bottom-tablet.svg);
    }
}

@media (max-width:1400px) {
    body {
        background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    }
}